<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head.ejs') %>
  <title>Book Search Results</title>
</head>

<body>
  <%- include('../../partials/header.ejs') %>

    
  
  
  <main>
    <h1>Book Results</h1>
    <ul>
        <% books.forEach( book => { %>
        <form action="/add" method="POST">
        <li id="card">
          <img height="270px" width="200px" src=" <%= book.image %>" alt="">
          <input type="hidden" name="image_url" id="" value="<%= book.image %>">
          <h3></h3>
            <%= book.title %>
          <input type="hidden" name="title" id="" value="<%= book.title %>">
          </h3> 
          <p>
            <%= book.author %>
            <input type="hidden" name="author" id="" value="<%= book.author %>">
          </p> 
          <p>
            <%= book.description %>
            <input type="hidden" name="_description" id="" value="<%= book.description %>">
          </p>
          <p>
            $<%= book.amount %>
            <input type="hidden" name="amount" id="" value="<%= book.amount %>">
          </p>
          <button type="submit" id="addbook">Add Book</button>
        </li>
        </form>
        <% }) %>
    </ul>
  </main>
  
  <footer><p>&copy; 2020 Adam Owada & Brendon Hampton</p></footer>
  <footer id="circles">
    
        <div>t</div>
        <div>e</div>
        <div>s</div>
        <div>t</div>
    
  </footer>

  <%- include('../../partials/script.ejs') %>
</body>
</html>