<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head.ejs') %>

    <title>Saved Books</title>
</head>
<body>
  <%- include('../partials/header.ejs') %>
    <main>
      <h1>Saved Books</h1>
        <ul>
            <% books.forEach( book => { %>
            <li id="card">
              <img height="270px" width="200px" src=" <%= book.image_url %>" alt="">
              <h3>
                <%= book.title %>
              </h3> 
              <p>
                <%= book.author %>
              </p> 
              <p>
                <%= book.isbn %>
              </p>
              <p>
                <%= book._description %>
              </p>
              <p> Saved Bookshelf
                <%= book.bookshelf %>
              </p>
              <p>
                $<%= book.amount %>
              </p>
              <form action="/delete/<%= book.id %>" name="" method="POST">
                <input type="hidden" name="id" value="<%= book.id %>">
                <button>Delete Book</button>
              </form>
              
              <button id="update">Update Book</button>

              <form id="update-book-form" method="post" action="/update-book/<%= book.id %>?_method=put">
                <label>
                  <p>Title:</p>
                  <input name="title" value="<%= book.title %>" />
                </label>
                <label>
                  <p>Author:</p>
                  <input name="author" value="<%= book.author %>" />
                </label>
                <label>
                  <p>ISBN:</p>
                  <input name="isbn" value="<%= book.isbn %>" />
                </label>
                <label>
                  <p>Description:</p>
                  <input name="_description" value="<%= book._description %>" />
                </label>
                <label>
                  <p>Image:</p>
                  <input name="image_url" value="<%= book.image_url %>" />
                </label>
                <label>
                  <p>Price:</p>
                  <input name="amount" value="<%= book.amount %>" />
                </label>
                <label>
                  <p>Saved Bookshelf:</p>
                  <input name="bookshelf" value="<%= book.bookshelf %>" />
                </label>
                <input type="hidden" name="id" value="<%= book.id %>">
                <button type="submit">Save Book</button>
              </form>

            </li>
            <% }) %>
        </ul>
    </main>
    <footer id="circles">
        <div>t</div>
        <div>e</div>
        <div>s</div>
        <div>t</div>
    </footer>
    <%- include('../partials/script.ejs') %>
</body>
</html>